body {
    background-color: #F4F3E4;
}



.container {
    width: 1109px;
    height: 100%;
    margin: 0 auto;
}

.info {
    margin-top: 77px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.info__left {
    width: 376px;
    height: 141px;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
}

.info__right {
    width: 634px;
    height: 132px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

hr {
    background-color: black;  
}



.products {
    display: grid;
    gap: 10px;
    grid-template-columns: 222px 222px 310px 310px;
    grid-auto-rows: 216px;
    margin-bottom: 153px;
}

.product {
    position: relative;
}

.product img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.product__1 {
    grid-column: span 2;
    grid-row: span 2;
}

.product__2 {
    grid-row: span 2;
}

.product__wide {
    grid-column: span 2;
    grid-row: span 1;
}

.name__product {
    position: absolute;
    z-index: 999;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    align-content: center;
    background: rgba(29, 29, 29, 0.7);
    mix-blend-mode: normal;
    border-radius: 2px;
}

.name {
    padding-left: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: white;
}

.more {
    background: url(img/Arrow\ 1.svg) no-repeat right;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #D7B56D;
    padding-right: 35px;
}

.name__medium {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.name__low {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
}

.more__low {
    padding-left: 35px;
}

@media (max-width: 360px) {
     .container {
        width: 340px;
        margin: 0 auto;
     }
     
     .info {
        display: block;
        align-items: center;
        margin-top: 33px;
     }

     .info__left {
        width: 287px;
        height: 48px;
        font-size: 20px;
        line-height: 120%;
    }
    
    .info__right {
        width: 340px;
        height: 132px;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
    }

    hr {
        size: 2px;
        width: 300px;
    }

    .name__product {
        height: 37px;
    }

    .more {
        display: none;
    }

    .name {
        font-size: 14px;
        padding-left: 7px;
    }

    .products {
        grid-template-columns: 1fr 50px 1fr;
        grid-auto-rows: 93.5px;
        margin-bottom: 91px;
        gap: 7px;
    }

    .product__1 {
        grid-column: span 2;
    }

    .product__4 {
        grid-column: span 2;
        grid-row: span 1;
    }


    .product__6 {
        grid-column: span 2;
        grid-row: span 1;
    }

    .product__7 {
        grid-column: span 2;
        grid-row: span 1;
    }

    .product__8 {
        grid-column: span 1;
        grid-row: span 2;
    }

    .product__9 {
        grid-column: span 2;
        grid-row: span 1;
    }
    
}